<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache,no-store,must-revalidate">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>汇聚同行</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/disMyOrder.css">
</head>
<body>
<div id="container">
    <div class="container-fluid">
        <div class="row header">
            <a href="#"> <img src="img/arrow.png" style="width: 60%;vertical-align: middle"> </a>
            <span>我的订单</span>
        </div>

        <!--订单列表-->
        <div v-for="item in myOrder">
            <div class="row orderId">
                <span>订单编号：{{item.id}}</span>
                <span class="" v-if="item.status==1" style="color:red;">待支付</span>
                <span v-else>已支付</span>
            </div>
            <div class="row orderMsg">
                <p style="font-size: 1.2rem;color: black">{{item.tourName}}</p>
                <p>购买日期：{{item.starTime |dateP}}</p>
                <p>购买人数：{{item.buyNum}}</p>
                <p>门市价：<span style="color: red">¥ {{item.fansPrice}}</span></p>
                <p>结算价：<span style="color: red">¥ {{item.storePrice}}</span></p>
            </div>

            <div class="orderTime">
                <span style="color: rgb(161,161,161)">订单时间：{{item.createDate}}</span>
                <span style="color: red">总价：¥ {{item.totalPrice}}</span>
            </div>

            <div class="row pay">
                <button v-if="item.status==1" class="payBtn" @click="pay">支付</button>
                <button @click="toDetail(item.id)" class="toDetail">查看详情</button>
            </div>

            <!--分割行-->
            <div class="row"
                 style="height: 1rem;background-color: rgb(244,244,244);border-bottom: 1px solid rgb(221, 221, 221);">
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
    let vm = new Vue({
        el: '#container',
        data() {

            return {
                myOrder: [
                    {
                        orderId: '265659554',
                        orderStatus: '待支付',
                        orderName:'宁波直飞北京纯玩五日游',
                        orderDate:'2018-10-01',
                        orderNum:'3',
                        mPrice:'4500.00',
                        jPrice:'4000.00',
                        orderTime:'2018-04-23 15:15',
                        totalPrice:'9000.00'
                    },{
                        orderId: '265659554',
                        orderStatus: '待支付',
                        orderName:'宁波直飞北京纯玩五日游',
                        orderDate:'2018-10-01',
                        orderNum:'3',
                        mPrice:'4500.00',
                        jPrice:'4000.00',
                        orderTime:'2018-04-23 15:15',
                        totalPrice:'9000.00'
                    },{
                        orderId: '265659554',
                        orderStatus: '待支付',
                        orderName:'宁波直飞北京纯玩五日游',
                        orderDate:'2018-10-01',
                        orderNum:'3',
                        mPrice:'4500.00',
                        jPrice:'4000.00',
                        orderTime:'2018-04-23 15:15',
                        totalPrice:'9000.00'
                    },
                ]
            }
        },

        mounted(){
          this.getOrder();
        },
        filters:{
            dateP(i){
                if(i){
                    return i.split(' ')[0];
                }
            }
        },
        methods:{
            pay(){

            },

            toDetail(id) {
                location.href='./disMyorderDetail.html?id='+id;
            },

            getOrder() {
                let that = this;
                $.ajax({
                    url: 'http://192.168.2.113/tour/wechat/shareServer/myStoreShareOrdList',
                    type: 'get',
                    data: {
                        'currentPage': that.currentPage,
                        'showCount': that.pageSize,
                    },
                    success(res) {
                        if (res.resultCode == 100) {
                            that.myOrder = res.data;
                        }
                    },
                    error(e) {
                        console.log(e);
                    }
                })

            },
        }
    })
</script>
</body>
</html>