<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache,no-store,must-revalidate">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>汇聚同行</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/distributorCollage.css">
</head>

<body>
<div id="container">
    <div class="container-fluid">
        <div class="row header">
            <a href="#"> < </a>
            <span>拼单旅游</span>
        </div>

        <!--头部搜索框-->
        <div class="rowPadding">
            <div class="row myBorder">
                <span>目的地：</span>
                <select style="color: rgb(101,101,101);outline: none" v-model="destination">
                    <option value="d0" disabled>请选择目的地</option>
                    <option value="d1">目的地1</option>
                    <option value="d2">目的地2</option>
                </select>
            </div>

            <div class="row myBorder">
                <span>线路名称：</span>
                <input style="width: 60%;outline: none;" placeholder="请输入线路名称">
            </div>
        </div>

        <!--搜索按钮-->
        <div class="row btnRow">
            <button class="searchBtn" @click="search">搜索</button>
        </div>
        <!--分割块-->
        <div class="row"
             style="height: 1rem;background-color: rgb(244,244,244);border-bottom: 1px solid rgb(121, 121, 121);">
        </div>

        <!--拼单列表-->
        <div class="row collage" v-for="item in collage" @click="toDetail">
            <div class="col-4">
                <div class="collageImg">
                    <img style="width: 100%;" :src="item.img">
                </div>
            </div>
            <div class="col-8">
                <p style="color: black;font-size: 1.2rem">{{item.title}}</p>
                <p>发班日期：{{item.startTime}}</p>
                <p>门市价：<span style="color: red">¥{{item.mPrice}}</span></p>
                <p>结算价：<span style="color: red">¥{{item.jPrice}}</span></p>
                <p>出发地：{{item.sPlace}}</p>
                <p>目的地：{{item.destination}}</p>
                <p>封顶人数：{{item.maxNum}}</p>
                <p>余位数量：{{item.leftNum}}</p>
            </div>
        </div>


    </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">

    let vm = new Vue({
        el: '#container',
        data() {
            return {
                destination: 'd0',

                collage: [
                    {
                        img: 'img/collage.png',
                        title: '宁波直飞北京纯玩五日游',
                        startTime: '2018-10-01',
                        mPrice:'4500.00',
                        jPrice:'4000.00',
                        sPlace:'宁波',
                        destination: '北京',
                        price: '3000.00',
                        dNum: '10',
                        dPrice: '500.00',
                        maxNum: '10',
                        leftNum:'8',
                    },{
                        img: 'img/collage.png',
                        title: '宁波直飞北京纯玩五日游',
                        startTime: '2018-10-01',
                        mPrice:'4500.00',
                        jPrice:'4000.00',
                        sPlace:'宁波',
                        destination: '北京',
                        price: '3000.00',
                        dNum: '10',
                        dPrice: '500.00',
                        maxNum: '10',
                        leftNum:'8',
                    },{
                        img: 'img/collage.png',
                        title: '宁波直飞北京纯玩五日游',
                        startTime: '2018-10-01',
                        mPrice:'4500.00',
                        jPrice:'4000.00',
                        sPlace:'宁波',
                        destination: '北京',
                        price: '3000.00',
                        dNum: '10',
                        dPrice: '500.00',
                        maxNum: '10',
                        leftNum:'8',
                    },
                ]
            }
        },
        methods: {
            search() {

            },
            toDetail(){

            }
        }
    })
</script>
</body>

</html>