<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache,no-store,must-revalidate">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>汇聚同行</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/collageDetail.css">
</head>
<body>
<div id="container" v-cloak>
    <div class="container-fluid">
        <div class="row header">
            <a href="./collage.html"> < </a>
            <span>线路详情</span>
        </div>
        <!--分割块-->
        <div class="row"
             style="height: 1rem;background-color: rgb(244,244,244);border-bottom: 1px solid rgb(121, 121, 121);">
        </div>

        <div class="row detail" v-if="collage">
            <p style="color: black;">线路名称：[拼单] {{title}}</p>
            <p>目的地：{{destination}}</p>
            <p>地接价格：<span style="color: red">¥{{price | toFixed(2)}}</span></p>
            <p>递减人数：{{dNum}}</p>
            <p>递减价格：¥{{dPrice | toFixed(2)}}</p>
            <p>封顶人数：{{maxNum}}</p>
            <p>发班日期：{{startTime}}</p>
            <p>性质：{{type}}</p>
        </div>

        <div class="row detail" v-else="collage">
            <p style="color: black;">线路名称：{{title}}</p>
            <p>目的地：{{destination}}</p>
            <p>地接价格：<span style="color: red">¥{{price |toFixed(2)}}</span></p>
            <p>封顶人数：{{maxNum}}</p>
            <p>发班日期：{{startTime}}</p>
            <p>性质：{{type}}</p>
        </div>

        <!--分割块-->
        <div class="row"
             style="height: 1rem;background-color: rgb(244,244,244);">
        </div>
        <!--选择日期-->
        <div class="row selectData" @click="collageFn">
            <span>选择日期</span>
            <span style="position: absolute;right: 1rem;font-size: 1.6rem">> </span>
        </div>
        <!--分割块-->
        <div class="row"
             style="height: 1rem;background-color: rgb(244,244,244);">
        </div>

        <!--图片-->
        <div class="row detailImg">
            <img :src="'http://114.55.95.164/tour_upFile/'+detailImg" alt="图片">
        </div>
        <!--分割块-->
        <div class="row"
             style="height: 4.5rem;background-color: rgb(244,244,244);">
        </div>
        <!--立即拼单按钮-->
        <div class="row collageBtn">
            <button @click="collageFn">立即拼单</button>
        </div>

        <!--选择日期弹出框-->
        <div class="row">
            <div class="modal fade" id="datePicker">
                <div class="modal-dialog">
                    <div class="modal-content" style="border-radius: 0">
                        <div class="modal-body" style="padding:0 1rem">
                            <div class="imgPrice">
                                <span><img :src="'http://114.55.95.164/tour_upFile/'+detailImg" alt="图片"></span>
                                <span style="color: rgb(96, 96, 96);">价格：
                                    <span style="color: red">¥ {{price | toFixed(2)}} / 人</span>
                                </span>
                                <span data-dismiss="modal"><img src="img/exit.png" alt="关闭"></span>
                            </div>
                            <h4 class="datePicker">选择日期</h4>
                            <div class="datePickers">

                                <div v-for="item in dates">
                                    <label class="datePickerLabel"
                                           :class="{active:ordId == item.id}"
                                           @click="setNum(item.num,item.shareOrdId);setClass(item.id)">{{item.starTime | dateP}}
                                        <input style="display: none" type="radio" v-model="date" :value="item.starTime">
                                    </label>
                                </div>
                            </div>
                            <div style="padding: 1.2rem 0.5rem;color: rgb(121,121,121)">
                                余位数量：{{num}}
                            </div>

                        </div>
                        <div class="modal-footer" style="padding: 0">
                            <button class="subBtn" @click="sub">立即拼单</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#container',
        data() {
            return {
                id: '',
                isShare: '',
                collage: true,
                title: '',
                destination: '',
                startTime: '',
                price: '',
                dNum: '',
                dPrice: '',
                maxNum: '',
                type: '',
                detailImg: '',

                num:'',
                date: '',
                dates: [],
                ordId:'',
                shareOrdId:'',

            }
        },
        mounted() {
            this.getCollageDetail();
        },

        watch: {
            isShare(n, o) {
                if (n == 1) {
                    this.collage = true;
                } else {
                    this.collage = false;
                }
            }
        },
        filters: {
            toFixed(i, param) {
                if (i) {
                    return i.toFixed(param);
                }
            },
            //消除年月日后的时间
            dateP(i) {
                if (i) {
                    // return i.substr(0,10);
                    return i.split(' ')[0];
                }

            }
        },
        methods: {

            //拼单跳转
            sub() {
                if(this.date){
                    let conf = confirm(`确认选择本日期吗${this.date.split(' ')[0]}`);
                    if(conf == true){
                        location.href='identityInfo.html?shareOrdId='+this.shareOrdId+'&starTime='+this.date+'&localPrice='+this.price;
                    }else {
                        return;
                    }
                }else{
                    alert('请选择一个日期');
                    return;
                }


            },

            //选中变色
            setClass(id){
                this.ordId = id;

            },
            //返回余量并给当前路线id赋值
            setNum(num,sId) {
                this.num = num;
                this.shareOrdId = sId;
            },

            //弹出框
            collageFn() {
                let that = this;
                $.ajax({
                    url: 'http://114.55.95.164/tour/wechat/shareServer/shareOrdInfo',
                    type: 'get',
                    data: {
                        'id': that.id,
                    },
                    success(res) {
                        if (res.resultCode = 100) {
                            that.dates = res.data.dates;
                            that.date = res.data.dates[0].starTime;
                            that.num = res.data.dates[0].num
                            that.ordId = res.data.dates[0].id;
                            that.shareOrdId = res.data.dates[0].shareOrdId;
                        }
                    },
                    error(err) {
                        console.log(err)
                    }
                });
                $('#datePicker').modal('toggle');

            },
            //拿到id
            getId() {
                let reg = new RegExp("(^|&)" + 'id' + "=([^&]*)(&|$)", "i");
                let r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    this.id = decodeURI(r[2]);
                }
                return null
            },

            //获得订单信息
            getCollageDetail() {
                this.getId();
                let that = this;
                $.ajax({
                    url: 'http://114.55.95.164/tour/wechat/shareServer/shareOrdInfo',
                    type: 'get',
                    data: {
                        'id': that.id,
                    },
                    success(res) {
                        if (res.resultCode = 100) {
                            let data = res.data;
                            that.isShare = data.isShare;
                            that.title = data.tourName;
                            that.destination = data.endAddr;
                            that.price = data.localPrice;
                            that.dNum = data.decrPenNum;
                            that.dPrice = data.decrPrice;
                            that.maxNum = data.topPenNum;
                            that.startTime = data.datesStr;
                            that.type = data.type;
                            that.detailImg = data.journeyUrl;
                        }
                    },
                    error(err) {
                        console.log(err)
                    }
                })
            }
        }
    })
</script>
</body>
</html>