<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache,no-store,must-revalidate">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>汇聚同行</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/collage.css">
</head>

<body>
<div id="container" v-cloak>
    <div class="container-fluid">
        <div class="row header">
            <a href="#"> <img src="img/arrow.png" style="width: 60%;vertical-align: middle"> </a>
            <span>拼单旅游</span>
        </div>

        <!--头部搜索框-->
        <div class="rowPadding">
            <div class="row myBorder">
                <span>目的地：</span>
                <input v-model="destination" style="width: 60%;outline: none;" placeholder="请输入线路名称">
            </div>

            <div class="row myBorder">
                <span>线路名称：</span>
                <input v-model="routerName" style="width: 60%;outline: none;" placeholder="请输入线路名称">
            </div>
        </div>

        <!--搜索按钮-->
        <div class="row btnRow">
            <button class="searchBtn" @click="search(destination,routerName)">搜索</button>
        </div>
        <!--分割块-->
        <div class="row"
             style="height: 1rem;background-color: rgb(244,244,244);border-bottom: 1px solid rgb(121, 121, 121);">
        </div>

        <!--拼单列表-->
        <div class="row collage" v-for="item in collage" @click="toDetail(item.id)">
            <div class="col-4">
                <div class="collageImg">
                    <img style="width: 100%;" :src="'http://114.55.95.164:80/tour_upFile/'+item.journeyUrl">
                </div>
            </div>
            <div class="col-8" v-if="item.isShare==1">
                <p style="color: black;font-size: 1.2rem">[拼单] {{item.tourName}}</p>
                <p>目的地：{{item.endAddr}}</p>
                <p>发班日期：{{item.datesStr}}</p>
                <p>地接价格：<span style="color: red">¥{{item.localPrice |toFix}}</span></p>
                <p>递减人数：{{item.decrPenNum}}</p>
                <p>递减价格：¥{{item.decrPrice |toFix}}</p>
                <p>封顶人数：{{item.topPenNum}}</p>
            </div>
            <div class="col-8" v-else>
                <p style="color:black;font-size: 1.2rem">{{item.tourName}}</p>
                <p>目的地：{{item.endAddr}}</p>
                <p>发班日期：{{item.datesStr}}</p>
                <p>地接价格：<span style="color: red">¥{{item.localPrice |toFix}}</span></p>
                <p>封顶人数：¥{{item.topPenNum}}</p>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">

    let vm = new Vue({
        el: '#container',
        data() {
            return {
                //搜索
                destination: '',
                routerName: '',

                collage: [
                    {
                        collage: true,
                        img: 'img/collage.png',
                        title: '宁波直飞北京纯玩五日游',
                        destination: '北京',
                        startTime: '2018-10-01',
                        price: '3000.00',
                        dNum: '10',
                        dPrice: '500.00',
                        maxNum: '20',
                    },
                ],
                currentPage: 1,
                pageSize: 4,
            }
        },
        mounted() {
            this.getOrder();
            this.handScroll();
        },
        filters: {
            toFix(val) {
                if (val) {
                    return val.toFixed(2);
                }
            }
        },
        methods: {
            search(des, rN) {
                let that = this ;
                $.ajax({
                    url: 'http://192.168.2.113/tour/wechat/shareServer/shareLocalOrdList',
                    type: 'get',
                    data: {
                        'endAddr':des,
                        'tourName':rN,
                        'currentPage': that.currentPage,
                        'showCount': that.pageSize,
                    },
                    success(res) {
                        if (res.resultCode == 100) {
                            that.collage = res.data;
                        }
                        else {
                            console.log(res.resultMessage);
                        }
                    },
                    error(err) {
                        console.log(err);
                    }
                })

            },
            toDetail(id) {
                location.href='./collageDetail.html?id='+id;
            },

            handScroll() {
                //滑动到底部再加载
                var self = this;
                $(window).scroll(function () {
                    let scrollTop = $(this).scrollTop();
                    let scrollHeight = $(document).height();
                    let windowHeight = $(this).height();
                    if (scrollTop + windowHeight >= scrollHeight) {
                        self.pageSize = self.pageSize + 10;
                        self.getOrder();
                    }
                });
            },

            //    获取订单列表
            getOrder() {
                let that = this;
                $.ajax({
                    url: 'http://192.168.2.113/tour/wechat/shareServer/shareLocalOrdList',
                    type: 'get',
                    data: {
                        'currentPage': that.currentPage,
                        'showCount': that.pageSize,
                    },
                    success(res) {
                        if (res.resultCode == 100) {
                            that.collage = res.data;
                        }
                        else {
                            console.log(res.resultMessage);
                        }
                    },
                    error(err) {
                        console.log(err);
                    }
                })
            }
        }
    })
</script>
</body>

</html>