<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache,no-store,must-revalidate">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>汇聚同行</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/createOrder.css">
</head>
<body>
<div id="container">
    <div class="container-fluid">
        <div class="row header">
            <a href="#"> < </a>
            <span>创建订单</span>
        </div>
        <div class="row headerRow">
            <a href="#" class="headerTitle">拼单订单</a>
            <a href="#" class="headerTitle" style="color: red;">创建订单</a>
        </div>

        <!--我创建的拼单-->
        <div v-for="item in createOrder">
            <div class="row createOrderTitle">
                <span>{{item.orderName}}</span>
                <span v-if="item.status=='拼单中'" style="color: red;min-width: 15%;">{{item.status}}</span>
                <span v-else style="min-width: 15%;">{{item.status}}</span>
            </div>
            <div class="row createOrder">
                <p>目的地：{{item.destination}}</p>
                <p>发班日期：{{item.sDate |toStringDate}}</p>
                <p>门市价：<span style="color: red">¥{{item.mPrice}}</span></p>
                <p>结算价：<span style="color: red">¥{{item.jPrice}}</span></p>
            </div>

            <div class="row orderFooter">
                <span>发布时间：{{item.subTime}}</span>
                <div class="orderBtn">
                    <button @click="finishCollage" v-if="item.status=='拼单中'">结束拼单</button>
                    <button>查看详情</button>
                </div>
            </div>

            <div class="row" style="height: 1rem;background-color: rgb(244,244,244)"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
    let vm = new Vue({
        el: '#container',
        data() {
            return {
                createOrder: [
                    {
                        orderName: '宁波直飞北京纯玩五日游五日游',
                        status: '拼单中',
                        destination: '北京',
                        sDate: [
                            '2018-10-01', '2018-10-03', '2018-10-05'
                        ],
                        mPrice: '4500.00',
                        jPrice: '4000.00',
                        subTime: '2018-04-23 15:15',
                    },{
                        orderName: '宁波直飞北京纯玩五日游五日游',
                        status: '已完成',
                        destination: '北京',
                        sDate: [
                            '2018-10-01', '2018-10-03', '2018-10-05'
                        ],
                        mPrice: '4500.00',
                        jPrice: '4000.00',
                        subTime: '2018-04-23 15:15',
                    }
                ],

            }
        },
        filters: {
            toStringDate(input) {
                return input.join('、');
            }
        },
        methods:{
            finishCollage(){

            }
        }

    })
</script>
</body>
</html>