<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache,no-store,must-revalidate">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>汇聚同行</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/officeSettleIn.css">
</head>
<body>
<div id="container">
    <div class="container-fluid">
        <div class="row header">
            <a href="#"> < </a>
            <span>办事处入驻</span>
        </div>

        <div class="row rowMsg">
            <div class="col-3">
                <span>姓名：</span>
            </div>
            <div class="col-9">
                <input v-model="officeName" placeholder="请输入姓名" style="width: 100%">
            </div>
        </div>

        <div class="row rowMsg">
            <div class="col-3">
                <span>联系电话：</span>
            </div>
            <div class="col-9">
                <input v-model="officePhone" placeholder="请输入联系电话" style="width: 100%">
            </div>
        </div>

        <div class="row rowMsg">
            <div class="col-3">
                <span>公司名称：</span>
            </div>
            <div class="col-9">
                <input v-model="companyName" placeholder="请输入公司名称" style="width: 100%">
            </div>
        </div>

        <div class="row rowMsg">
            <div class="col-3">
                <span>公司地址：</span>
            </div>
            <div class="col-9">
                <input v-model="companyAdd" placeholder="请输入公司地址" style="width: 100%">
            </div>
        </div>

        <!--目的地-->
        <div class="row destination">
            <div class="col-3">
                <span>目的地：</span>
            </div>
            <div class="col-9">
                <span v-for="(item,i) in cities">
                    <input type="checkbox" v-model="destination" :value="item.NAME">{{item.NAME}}
                </span>
            </div>
        </div>

        <!--验证码-->
        <div class="row rowMsgCode row-eq-height">
            <div class="col-3" style="padding: 0.7rem 0 0.7rem 1rem">
                <span>验证码：</span>
            </div>
            <div class="col-6">
                <input v-model="identifyCode" placeholder="请输入短信验证码" style="width: 100%">
            </div>
            <div class="col-3 identifyCode">
                <button v-show="show" @click="getCode">发送验证码</button>
                <button v-show="!show">{{count}}s</button>
            </div>
        </div>
        <!--提示-->
        <div class="row tips">
            <span>注：短信验证码将发送至联系电话，请注意查收</span>
        </div>
        <!--按钮-->
        <div class="row rowBtn pt-4">
            <button @click="submitMsg">提交</button>
        </div>
    </div>
</div>


<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
    let vm = new Vue({
        el: '#container',
        data() {
            return {
                show: true,
                count: '',
                timer: null,

                check: true,
                officeName: '',
                officePhone: '',
                companyName: '',
                companyAdd: '',
                destination: [],
                cities: [
                    {
                        value: 'beijing1',
                        city: '北京1'
                    }, {
                        value: 'beijing2',
                        city: '北京2'
                    }, {
                        value: 'beijing3',
                        city: '北京3'
                    }, {
                        value: 'beijing4',
                        city: '北京4'
                    },
                ],
                identifyCode: '',
            }
        },
        mounted() {
            this.getDestination();
        },
        methods: {
            getData() {

            },

            //获得目的地
            getDestination() {
                let that = this;
                $.ajax({
                    url: 'http://114.55.95.164/tour/wechat/shareServer/getShareOfficeEndAddr',
                    type: 'get',
                    success(res) {
                        if (res.resultCode == 100) {
                            that.cities = res.data.endAddrList;
                        }
                    },
                    error(err) {
                        console.log(err);
                    }
                })
            },

            //发送验证码
            getCode() {
                let that = this;
                $.ajax({
                    url: 'http://114.55.95.164/tour/wechat/storeMamager/sendCode',
                    type: 'post',
                    data: {
                        'phone': this.officePhone,
                    },
                    success(res) {
                        if (res.resultCode == 100) {
                            let TIME_COUNT = 60;
                            if (!that.timer) {
                                that.count = TIME_COUNT;
                                that.show = false;
                                that.timer = setInterval(() => {
                                    if (that.count > 0 && that.count <= TIME_COUNT) {
                                        that.count--;
                                    } else {
                                        that.show = true;
                                        clearInterval(that.timer);
                                        that.timer = null;
                                    }
                                }, 1000)
                            }
                            ;
                        }
                        else {
                            alert('请输入手机号码');
                            console.log(res.resultMessage);
                        }

                    },
                    error(err) {
                        console.log(err);
                    }
                })

            },


            // 提交信息
            submitMsg() {
                //验证输入信息
                let regPhone = /^1[1-9]\d{9}$/;
                if (this.officeName == '') {
                    alert('请输入用户名');
                    return;
                }
                ;

                if (this.officePhone == '') {
                    alert('请输入手机号码');
                    return;
                }
                else if (!regPhone.test(this.officePhone)) {
                    alert(('请输入正确的手机号码格式'));
                    return;
                }
                ;

                if (this.companyName == '') {
                    alert('请输入公司名称');
                    return;
                }
                ;

                if (this.companyAdd == '') {
                    alert('请输入公司地址');
                    return;
                }
                ;

                if (this.destination == '') {
                    alert('请至少选择一个目的地');
                    return;
                }
                $.ajax({
                    url: 'http://114.55.95.164/tour/wechat/shareServer/editShareOffice',
                    type: 'post',
                    data: {
                        'contacts': this.officeName,
                        'contactsPhone': this.officePhone,
                        'companyName': this.companyName,
                        'arg1': this.companyAdd,
                        'Bourn': this.destination.join(','),
                        'code': this.identifyCode,
                    },
                    success(res) {
                        if (res.resultCode == 100){
                            location.href='./admission.html';
                        }else{

                            alert(res.resultMessage);
                        }
                    },
                    error(err){
                        console.log(err);
                    }

                })

            }
        },

    })
</script>
</body>
</html>