html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(244,244,244);
}

/*标志*/
.rowSuccess{
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
}
.rowSuccess>img{
    width: 13%;
}

.rowSuccessText{
    color: #00A301;
}

/*信息*/
.rowInfo{
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    justify-content: center;
    align-items: center;
}
.rowBtn{
    justify-content: center;
}

.rowBtn>button{
    border: 1px solid rgb(121,121,121);
    background-color: white;
    height: 2.6rem;
    padding: 0 1.8rem;
    border-radius: 5px;
}

/*分享选项*/
.shareModal{

}

.shareModal>h3{
    text-align: center;
    font-size: 1.4rem;
}

.shareModalSel{
    display: flex;
    justify-content: space-around;
}
.shareModalSel>span{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.shareModalSel>span>img{
    width: 3rem;
}


.modal-dialog {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 3;
    margin: auto;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}