/*详情*/
.detail{
    padding: 1rem 0 0.5rem 1.2rem;
    flex-direction: column;
    border-bottom: 1px solid rgb(99, 99, 99);
}

.detail>p{
    color: rgb(96, 96, 96);
}

/*选择日期*/
.selectData{
    font-size: 1.2rem;
    height: 3.5rem;
    align-items: center;
    padding-left: 1rem;

}

/*图片*/
.detailImg>img{
    width: 100%;
}

/*立即拼单按钮*/
.collageBtn>button{
    position: fixed;
    bottom: 0;
    font-size: 1.3rem;
    height: 3.5rem;
    width: 100%;
    background-color: red;
    color: white;
}

.modal-dialog {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 3;
    margin: auto;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}